@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-delay:ease 0.2s ;
}
:root{
	--BRAND_BLUE: #1f80e0;
	--BRAND_RED: #f15151;
	--BRAND_ORANGE: #db882a;
	--BG_GRADIENT_L0: linear-gradient(to bottom, #141b29, #0c111b 300px);
	--BG_GRADIENT_L1: linear-gradient(to bottom, #192133, #111826);
	--BG_GRADIENT_L2: linear-gradient(to bottom, #334366, #334366, #1c2940);
	--CARD_GRADIENT: #030b17;
	--HEADER_COLOR: #121926;
	--BG_COLOR_L0: #0c111b;
	--BG_COLOR_L1: #192133;
	--BG_COLOR_L2: #334366;
	--BG_COLOR_L3: rgba(144, 153, 153, 0.1);
	--BG_COLOR_L4: #1b1f20;
	--BORDER_COLOR_L0: #2e3333;
	--TEXT_COLOR_L0: #fff;
	--TEXT_COLOR_L1: rgba(255, 255, 255, 0.8);
	--TEXT_COLOR_L2: rgba(255, 255, 255, 0.6);
	--TEXT_COLOR_L3: #dadada;
	--TEXT_COLOR_L4: #909999;
	--TEXT_COLOR_L5: #f9f9f9;
	--TEXT_LINK_COLOR: #1f80e0;
	--TEXT_BTN_COLOR: #1f80e0;
}
.main{
    width: 100%;
    font-family: roboto;
    background-color: #121926;
    height: 300vh;
}
.main-header,.header{
    width: 100%;
    background-color: #121926;
    position: fixed;
    z-index: 10000;
    height: 15vh;
    /* background-color: red; */
}
.header{
    display: flex;
    align-items: center;
}
.left-header{
    width: 40%;
    position: relative;
    left: 9vh;
    display: flex;
    /* top: 1.5vh; */
    /* margin:2vh 4vh; */
    /* background-color: green; */
    height: 12vh;
}
.sidebar-icon{
width: 6vh;
height: 4vh;
margin-right: 2vh;
margin-top: 1vh;
background-image: url("sidebar-icon.png");
background-size: cover;
position: relative;
top: 2vh;
}

.sidebar-icon-container{
    position: absolute;
    top: 10vh;
    left: 0vh;
    height: 7vh;
    /* visibility: hidden; */
    background-color: var(--BG_COLOR_L1);
    overflow: hidden;
    transition-delay: 0.3s;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.22);
    -o-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.22);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.22);
    display:none;
/* animation: all 0.3s; */
justify-content: center;
/* visibility: hidden; */
}

.sidebar-icon-container ul{
    list-style: none;
align-items: center;
}
.sidebar-icon-container ul li{
    width: 2    0vh;
    padding: 3vh;
    margin: 2vh 0;
    text-align: center;
    color: white;
    /* visibility: hidden; */
    height: 5vh;
}
.sidebar-icon-container ul li:hover{
    background-color: rgb(26, 26, 27);
    color: white;
}
.sidebar-icon-container-overflow{
    position: absolute;
    top: 10vh;
    left: 0vh;
    height: 7vh;
    /* visibility: hidden; */
    background-color: var(--BG_COLOR_L1);
    /* overflow: hidden; */
    transition-delay: 0.3s;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.22);
    -o-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.22);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.22);
    /* display:none; */
/* animation: all 0.3s; */
justify-content: center;
z-index: 10;
    display: table;
}
.logo{
    background-image: url("Disney+_Hotstar_logo.png");
    background-size: cover;
    width: 19vh;
    height: 10vh;
    color: white;
    position: relative;
    top: -2vh;
}
.header-links{
    width: 15vh;
    height: 100%;
    position: relative;
    left:2vh;
    display: flex;
    /* justify-content: center; */
}
.header-links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.header-links ul li{
    margin: 0vh 2vh;
    text-transform: capitalize;
}
.header-links ul li a{
    text-decoration: none;
    color: rgb(159, 155, 155);
    font-size: 1.2em;
}
.header-link ul li:hover{
    color: rgb(202, 18, 18);
    font-weight: 400;
}
.right-header{
    text-align: right;
    align-items: center;
    /* display: inline-block; */
    width: 100%;
    height: 12vh;
    /* align-items: center; */
}
.search{
    width: 40vh;
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 5vh;
    text-align: left;
    transition: all 1s ;
    outline: none;
    font-size: 1.1em;
    margin-right: 3vh;
    border-bottom: 2px solid white;
}
.search:hover{
    width: 70vh;
}
.subcription{
}
.subcription,.login{
    background: #1f80e0;
    width: 15vh;
    height: 5vh;
    border-width: 0;
    border-radius: 1vh;
    margin-right:2vh;
    padding: 1vh;
}
.login{
    background-color: transparent;
    color: white;
    font-size: 1.3em;
    border-width: 0;
}
.sublink-container,.sublink-container0,.sublink-container1{
    position: absolute;
    /* height: auto; */
    width: 19vh;
    height: 0vh;
    /* visibility: hidden; */
    top: 10vh;
    left: 20vh;
        /* display: inline-block; */
        border-radius: 4px;
        background-color: var(--BG_COLOR_L1);

        overflow: hidden;
        -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.22);
        -o-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.22);
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.22);
        /* animation: all 0.3s; */
        transition-delay: 0.3s;
    }
    .dropdown-link{
        /* text-align: center; */
        justify-content: center;
        outline: 0;
        text-align: center;
        color: white;
        text-decoration: none;
        /* margin: 2vh 2vh; */
        width: 100%;
        padding: 1vh;
        height: 6vh;
        display: inline-flex;
        font-weight: 500;
        cursor: pointer;
    }
    .dropdown-link:hover{
        background-color: rgb(26, 26, 27);
        color: white;
    }
    .sublink-container0{
        left: -5vh;
        /* height: 60vh; */
    }
    .sublink-container0 a{
        font-size: 0.9em;
    }
    .sublink-container-hover{
        height: 74vh;
    }
    .sublink-container1{
        left: 7vh;
    }
    .container{
        position: relative;
        top: 15vh;
        width: 100%;
        overflow: hidden;
    }
    .img-info-container{
        position: relative;
        top: 10vh;
        width: 45vh;
        left: 8vh;
    }
    .movie-title{
        color: white;
        
    }
    .slider{
        overflow: hidden;
        /* width: 100vh; */
        width: 200vh;
        height: 100%;
    }
    .slider:hover .sidearrow{
        visibility: visible;
    }
    .sidearrow{
        width: 12vh;
        height: 7vh;
        visibility: hidden;
        z-index: 7;
        background-size: cover;
        position: absolute;
        top: 36vh;
        background-image: url("side-arrow.png");
        transition: all .8s;
    }
    .left{
        transform: rotate(180deg);
    }
    .right{
        right: 2vh;
    }
    .img-info{
        position: absolute;
        width: 80vh;
        height: 100%;
        color: white;
        /* background-color: red; */
        /* background-image: linear-gradient(black,red); */
        background: linear-gradient(to right, var(--CARD_GRADIENT)60%, rgba(0,0,0,0));
        z-index: 6;
    }
    .sliderimg{
        display: flex;
        width: 130vh;
        /* overflow: hidden; */
        margin:auto;
        position: relative;
        top: 4vh;
        background-size: cover;
        /* transform: translateX(-800px); */
        /* background-image: linear-gradient(black,red); */
        
    }
    .sliderimg img{
        width: 300vh;
        height: 75vh;
    }
    .movie-section{
        position: relative;
        top:17vh;
    }
    .movie-category{
        width: 100%;
        height: 55vh;
        /* margin-top: 3vh; */
        background-color: #192133;
        overflow: hidden;
    }
    .movie-title{
        text-transform: capitalize;
        margin: 2vh 4vh;
        font-family: Roboto;
        color: white;
    }
    .movie-list,.movie-list1{
        width: 210vh;
        height:45vh;
        padding: auto;
        display: flex;
        background-color: #192133;
        overflow-x: scroll;
        scrollbar-width: none;
        /* overflow: hidden; */
    }
    .list{
        /* transform: translate(-600px); */
        width: 35vh;
        height: 25vh;
        /* margin: 2vh 4vh; */
        margin: 2vh 4vh;
        background-color: black;
        border-radius: 2vh;
    }
    .list img{
        border-radius: 2vh;
        width: 30vh;
        /* height: 26vh; */
    }
    .list img:hover{
        transform: scale(1.3);
        background: linear-gradient(to right, var(--CARD_GRADIENT)60%, rgba(0,0,0,0));
    }
    .movie-category .movie-sidearrow{
        top: 25vh;
        height: 7vh;
        visibility: hidden;
        z-index: 7;
        background-size: cover;
        position: absolute;
        background-image: url("side-arrow.png");
        transition: all .8s;
        width: 10vh;
    }
    .movie-category:hover .movie-sidearrow{
        visibility: visible;
    }


    